---
import Config from '@config';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import GithubLogo from '@assets/github.svg';
import DiscordLogo from '@assets/discord.svg';
---
<section id="community" class="bg-neutral-200/5">
    <div class="container section-wrapper w-full">
        <div class="container mx-auto mb-20">
            <div class="flex flex-col gap-10">
                <h1 class="bold text-4xl text-center">{t('community.title')}</h1>
                <p class="text-lg md:text-xl md:text-center">{t('community.description')}</p>
            </div>
        </div>

        <div class="flex flex-col md:flex-row justify-center gap-10 w-full">
            <div class="flex flex-col items-center bg-neutral-500/10 p-6 rounded-lg w-full text-center">
                <GithubLogo width={64} height={64} />
                <h2 class="font-bold text-2xl mt-4">{t('community.github.title')}</h2>
                <p class="text-xl mt-4">{t('community.github.description')}</p>
                <div class="flex flex-col items-center mt-8 gap-4">
                    <a href={Config.appRepository} target="_blank" class="btn">{t('community.github.label')}</a>
                </div>
            </div>

            <div class="flex flex-col items-center bg-neutral-500/10 p-6 rounded-lg w-full text-center">
                <DiscordLogo width={64} height={64} />
                <h2 class="font-bold text-2xl mt-4">{t('community.discord.title')}</h2>
                <p class="text-xl mt-4">{t('community.discord.description')}</p>
                <div class="flex flex-col items-center mt-8 gap-4">
                    <a href={t('community.discord.url')} @click.prevent="" target="_blank" class="btn btn-disabled">{t('comingSoon')}</a>
                </div>
            </div>
        </div>
    </div>
</section>
