---
import Config from '@config';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import DownloadPresenter from '@components/DownloadPresenter.astro';

const apiData = await fetch(Config.github.getApiReleases()).then(res => res.json());
let betaVersion = null;
let stableVersion = null;

for (let i = 0; i < apiData.length; i++) {
    const release = apiData[i];
    if (betaVersion === null && release.tag_name.includes('b')) {
        betaVersion = release.tag_name;
    }
    if (stableVersion === null && !release.tag_name.includes('b')) {
        stableVersion = release.tag_name;
    }
    if (betaVersion !== null && stableVersion !== null) {
        break;
    }
}
---
<section id="downloads">
    <div class="section-wrapper">
        <div class="container mx-auto mb-20">
            <div class="flex flex-col gap-10">
                <h1 class="bold text-4xl text-center">{t('downloads.title')}</h1>
                <p class="text-lg md:text-xl md:text-center">{t('downloads.description')}</p>
            </div>
        </div>

        <div class="flex flex-col gap-10">
            <DownloadPresenter type="stable" version={stableVersion} />
            {betaVersion && <DownloadPresenter type="beta" version={betaVersion} />}
        </div>

        {/*
        <div class="container mx-auto mt-20 mb-20">
            <div class="flex flex-col gap-10">
                <h2 class="bold text-2xl text-center">{t('downloads.devVersion.title')}</h2>
                <p class="text-lg md:text-xl md:text-center">{t('downloads.devVersion.description')}</p>
            </div>
        </div>

        <DownloadPresenter type="dev" />
        */}
    </div>
</section>
