---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import ArrowLeft from '@assets/arrow-left.svg';
import ArrowRight from '@assets/arrow-right.svg';
---
<section id="features">
    <div class="section-wrapper">
        <div class="container mx-auto mb-20">
            <div class="flex flex-col gap-10">
                <h1 class="bold text-4xl text-center">{t('features.title')}</h1>
                <p class="text-lg md:text-xl md:text-center">{t('features.description')}</p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4 mt-10">
                {t('features.blocks').map(data => (
                    <div class="flex flex-col gap-2 items-center bg-neutral-500/10 p-6 rounded-lg">
                        <h2 class="text-lg font-bold text-center">{ data.title }</h2>
                        { data.items.length > 0 && <ul class="flex flex-col gap-2 mt-3 list-disc list-inside">
                            { data.items.map((item => (
                                <li>{item}</li>
                            )) ) }
                        </ul> }
                    </div>
                ))}
            </div>

            <div class="flex flex-col justify-center items-center w-full mt-10">
                <div class="relative"
                    x-data={`{
                        activeImage: 1,
                        images: ${JSON.stringify(t('features.sliders'))}
                    }`}>

                    <template x-for="(data,index) in images" :key="index">
                        <div x-show="activeImage === index + 1"
                            x-transition:enter="transition-all ease-in-out duration-1000"
                            x-transition:enter-start="opacity-0 transform"
                            x-transition:enter-end="opacity-100 transform"
                            >
                            <div class="relative">
                                <img x-bind:src="data.image" class="max-w-full shadow-xl shadow-neutral-900/25 rounded-lg overflow-hidden">
                                <div class="absolute bottom-0 left-0 right-0 p-4 bg-gradient-to-t from-neutral-900 to-neutral-900/70" x-html="data.description"></div>
                            </div>
                            <p x-text="activeImage + ' / ' + images.length" class="text-center text-sm mt-2 text-neutral-200/60"></p>
                        </div>
                    </template>

                    <div class="absolute top-1/2 left-2 translate-y-[-50%]">
                        <button class="cursor-pointer text-lg md:text-2xl lg:text-5xl text-white"
                            x-on:click="activeImage = activeImage === images.length ? 1 : activeImage + 1">
                            <ArrowLeft width={20} height={20} class="drop-shadow-md drop-shadow-neutral-900" />
                        </button>
                    </div>

                    <div class="absolute top-1/2 right-2 translate-y-[-50%]">
                        <button class="cursor-pointer text-lg md:text-2xl lg:text-5xl text-white"
                            x-on:click="activeImage = activeImage === images.length ? 1 : activeImage + 1">
                            <ArrowRight width={20} height={20} class="drop-shadow-md drop-shadow-neutral-900" />
                        </button>
                    </div>
                </div>
            </div>

            </div>
        </div>
    </div>
</section>
